   <div class="ibox-content">
                            <div class="project-list">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Intitulé d'activité</th>
                                            <th>Date d'activité</th>
                                            <th>Annimateur Terrain</th>
                                        </tr>
                                  </thead>
                                    <tbody>
                                    <tr>
                                        <td class="project-status">
                                            {{activite.intitule}}
                                        </td>
                                        <td class="project-title">
                                            {{activite.dateActivite}}
                                        </td>
                                       
                                        <td class="project-title">
                                           {{activite.animateurTerrain.prenom}} {{activite.animateurTerrain.nom}}
                                        </td>
                                        <td class="project-actions">
                                      
                                         <a  class="btn btn-white btn-sm "   [routerLink]="['/adminHome', {outlets: {'adminHomeRoute': ['activiteDetails',activite.idActivite]}}]" ><i class="fa fa-dashboard"></i> Details </a>
                                        </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
 
