
 <!-- Bootstrap Core CSS -->
<link href="assets/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="assets/css/style.css" rel='stylesheet' type='text/css' />
<link href="assets/css/font-awesome.css" rel="stylesheet"> 

  <div class="container">
  <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
		<input type="text" class="text" required [formControl]="form.controls['intitule']" value="Intitule de la composante" />
    <input type="text" class="text" required [formControl]="form.controls['description']" value="Intitule de la composante" />
    <input type="text" class="text" required [formControl]="form.controls['dateDebut']" value="Intitule de la composante" />
    <input type="text" class="text" required [formControl]="form.controls['dateFin']" value="Intitule de la composante" />
		<div class="submit"><input [disabled]="!form.valid" type="submit" value="Creer" /></div>
	</form>
  </div>
