                        <div class="ibox-content">                  

                            <form id="form" action="#" class="wizard-big" (ngSubmit)="onSubmit(form.value)" [formGroup]="form">  
                                <h1>Informations générales</h1>
                                <fieldset>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="form-group">
                                                <label>Nom *</label>
                                                <input type="text"  required [formControl]="form.controls['nom']" class="form-control required" />
                                            </div>
                                            <div class="form-group">
                                                <label>Prenom *</label>
                                                <input type="text" required [formControl]="form.controls['prenom']" class="form-control required" />
                                            </div>
                                            <div class="form-group">
                                                <label>CIN *</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" required [formControl]="form.controls['CIN']">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>L'age *</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control required" required [formControl]="form.controls['age']">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Numéro Téléphone *</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control required" required [formControl]="form.controls['numeroTelephone']">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Pays *</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control required" required [formControl]="form.controls['pays']">
                                                </div>
                                            </div>
                                             <div class="form-group">
                                                <label>Ville *</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control required" required [formControl]="form.controls['ville']">
                                                </div>
                                            </div> <div class="form-group">
                                                <label>Adresse *</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control required" required [formControl]="form.controls['adresse']">
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group pull-right">
                                        <input type="submit" value="Valider" class="btn btn-primary"  [disabled]="!form.valid" id="test"/>
                                        <button class="btn btn-primary" id="test">Annuler</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>