

  <!--<div class="container">
  <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
		<input type="text" class="text" required [formControl]="form.controls['intitule']" value="Intitule de la composante" />
    <input type="text" class="text" required [formControl]="form.controls['description']" value="Intitule de la composante" />
    <input type="text" class="text" required [formControl]="form.controls['dateDebut']" value="Intitule de la composante" />
    <input type="text" class="text" required [formControl]="form.controls['dateFin']" value="Intitule de la composante" />
		<div class="submit"><input [disabled]="!form.valid" type="submit" value="Creer" /></div>
	</form>
  </div>-->

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/assets/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/assets/css/plugins/steps/jquery.steps.css" rel="stylesheet"> 
    <link href="/assets/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="/assets/css/plugins/nouslider/jquery.nouislider.css" rel="stylesheet">
    <link href="/assets/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="/assets/css/animate.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">        
    
 <div class="row">
                <div class="col-lg-12 wrapper wrapper-content animated fadeInUp">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Assistant de création de projet</h5>
                        </div>
                        <div class="ibox-content">                  

                            <form id="form" action="#" class="wizard-big" (ngSubmit)="onSubmit(form.value)" [formGroup]="form">  
                                <h1>Informations générales</h1>
                                <fieldset>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="form-group">
                                                <label>Intitule de projet *</label>
                                                <input type="text"  required [formControl]="form.controls['intitule']" class="form-control required" />
                                            </div>
                                            <div class="form-group">
                                                <label>Description de projet *</label>
                                                <input type="text" required [formControl]="form.controls['description']" class="form-control required" />
                                            </div>
                                            <div class="form-group">
                                                <label>Date De Debut *</label>
                                                 <my-date-picker name="mydate" [options]="myDatePickerOptions" [formControl]="form.controls['dateDebut']" required></my-date-picker>
                                            </div>
                                            <div class="form-group" >
                                                <label>Date De Fin *</label>    
                                                <my-date-picker name="mydate"  [options]="myDatePickerOptions" [formControl]="form.controls['dateFin']" required></my-date-picker>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="text-center">
                                                <div style="margin-top: 20px">
                                                    <i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <h1>Partenaires</h1>
                                <fieldset> 
                                    <div class="ibox-content">
                                        <div class="form-group">
                                        <label class="font-noraml">Désigner vos partenaires</label>
                                            <div class="input-group">
                                        <select id="chosen" multiple style="width:350px;" class="form-control" required [formControl]="form.controls['partenaires']">
                                             <option *ngFor="let partenaire of partenaires" [ngValue]="partenaire" >{{partenaire.nom}}</option>                            
                                        </select>
                                        </div>
                                           
                                        </div>
                                        </div>
                                </fieldset>
                                <h1>Responsable</h1>
                                <fieldset> 
                                    <div class="ibox-content">
                                        <div class="form-group">
                                        <label class="font-noraml">Choisissez un responsable de projet</label>
                                        <div class="input-group">
                                            <select id="chosen" style="width:350px;" class="form-control" required [formControl]="form.controls['responsable']">
                                                <option *ngFor="let responsable of responsables" 
                                                [ngValue]="responsable" >{{responsable.prenom}} {{responsable.nom}}</option>                            
                                            </select>
                                        </div>
                                           
                                        </div>
                                  </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group pull-right">
                                        <input type="submit" value="Valider" class="btn btn-primary" id="test"/>
                                        <button class="btn btn-primary" id="test">Annuler</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
