
        <div class="row r3_counter_box">
         <div class="col-md-6">
            <thematique *ngIf="composante.thematique != null" [thematique]="composante.thematique" ></thematique>
        </div>
        <div class="col-md-6">
            <h4>Liste des collaborateurs</h4>
            <collaborateur *ngFor="let collaborateur of collaborateurs" [collaborateur]="collaborateur"></collaborateur>
         </div>
         <button  class="btn btn-primary pull-right" 
             [routerLink]="['/adminHome', {outlets: {'adminHomeRoute': ['gestionComposante',composante.idComposante]}}]">Parcourir</button> 
        </div>
        <router-outlet name="test"></router-outlet>
    