
        <div class="row  r3_counter_box">
         <div class="col-md-6">
             <h4>Thematique traité</h4>
            <thematique *ngIf="composante.thematique != null" [thematique]="composante.thematique" ></thematique>
        </div>
        <div class="col-md-6">
            <h4>Liste des collaborateurs</h4>
            <collaborateur *ngFor="let collaborateur of collaborateurs" [collaborateur]="collaborateur"></collaborateur>
         </div>
         <h3><i>Liste des activites</i></h3>
        </div>
         <activite *ngFor="let activite of composante.activities" [activite]="activite"></activite>


    