  <!-- <section>   
		<projet class="projet"
			*ngFor="let projet of projets"
			[projet]="projet" (clicked)="onClicked($event)">
		</projet>
</section>
<section>
    <composante class="composante"
      *ngFor="let composante of composantes"
     [composante]="composante" (composanteClicked)="onComposanteClicked($event)">
    </composante>
</section>	
<section>
		<activite class="activite"
		*ngFor="let activite of activites"
		[activite]="activite" >
		</activite>
</section> -->
   <link href="assets/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="assets/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="assets/css/lines.css" rel='stylesheet' type='text/css' />
    <link href="assets/css/font-awesome.css" rel="stylesheet" /> 
    <link href="assets/css/gestion-projet.component.css" rel="stylesheet" /> 
    
	<div class="container">
    <h2>Liste des Projets</h2>
  <ul class="nav nav-tabs">
    <li *ngFor="let projet of projets">
      <a data-toggle="tab" href="#content">
      <projet class="projet"
			[projet]="projet" (clicked)="onClicked($event)">
		</projet>
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="content" class="tab-pane fade in active">
        <projet-details [projetDetails]="projetDetails"></projet-details>
        <div class="panel-group" id="accordion"> 
              <div class="panel panel-default" *ngFor="let composante of projetDetails.composantes">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#{{composante.intitule}}">{{composante.intitule}}</a>
                  </h4>
                </div>
              <div id="{{composante.intitule}}" class="panel-collapse collapse">
                <div class="panel-body">
                  <composante class="composante"
                    
                    [composante]="composante" (composanteClicked)="onComposanteClicked($event)">
                    </composante>
                </div>
             </div>
        </div>
      </div>
  </div>
</div>
     
