<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
            <div class="pull-right" >
                 <a  [routerLink]="['/adminHome', {outlets: {'adminHomeRoute': ['ajouterCollaborateur']}}]"
                 class="btn btn-primary btn-xs pull-right"><i class="fa fa-plus"></i>Ajouter Une Ressource </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4" *ngFor="let collaborateur of collaborateurs">
                <div class="contact-box">
                    <div class="col-sm-3">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="assets/img/a2.jpg">
                            <div class="m-t-xs font-bold"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h3><strong>{{collaborateur.nom}}</strong></h3>
                        <p><i class="fa fa-bookmark"></i><strong> : {{collaborateur.CIN}}</strong></p>
                        <p><i class="fa fa-bookmark"></i><strong> : {{collaborateur.prenom}}</strong></p>
                        <p><i class="fa fa-bookmark"></i><strong> : {{collaborateur.adresse}}</strong></p>
                        <p><i class="fa fa-bookmark"></i><strong> : {{collaborateur.numeroTelephone}}</strong></p>
                        <p><i class="fa fa-bookmark"></i><strong> : {{collaborateur.email}}</strong></p>
                        <p><i class="fa fa-map-marker"></i><strong> : {{collaborateur.password}}</strong></p>
                        <p><i class="fa fa-at"></i><strong> : {{collaborateur.dateNaissance}}</strong></p>
                        <p><i class="fa fa-phone"></i><strong> : {{collaborateur.lieuNaissance}}</strong></p>
                    </div>
                    <div class="col-sm-3">
                        <button [routerLink]="['/adminHome', {outlets: {'adminHomeRoute': ['modifiercollaborateur',collaborateur.idCollaborateur]}}]"
                        class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></button>
                        <button [routerLink]="['/adminHome', {outlets: {'adminHomeRoute': ['ajouteridCollaborateur']}}]"
                        class="btn btn-primary btn-xs"><i class="fa fa-trash"></i></button>
                    </div>
                    <div class="clearfix"></div>  
                </div>
            </div>
        </div>
        </div>