<!--<!DOCTYPE HTML>
<html>
<head>
<title>Modern an Admin Panel Category Flat Bootstarp Resposive Website Template | Login :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="assets/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<link href="assets/css/style.css" rel='stylesheet' type='text/css' />
<link href="assets/css/font-awesome.css" rel="stylesheet"> 
</head>
<body id="login">
  
  
  <div class="app-cam">
  <div class="text-center"><img src="assets/images/FondationLogi.png"/></div>
  <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
		<input type="text" class="text" required [formControl]="form.controls['email']" value="E-mail address" />
		<input type="password" value="Password" required [formControl]="form.controls['password']"/>
		<div class="submit"><input [disabled]="!form.valid" type="submit" value="Login" /></div>
	</form>
  </div>
</body>
</html>-->

<!-- <body class="gray-bg">
 -->

            <div class="col-md-3 col-md-offset-4" id="login-marges">
                    <img id="img-block" src="assets/img/FondationLogi.png" /> 
            </div>

            <div class="center-box">
              <div class="ibox-content">
                <p id="auth-title"><strong>Authentification</strong></p>
                   <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form" class="m-t" role="form">
                     <div class="form-group">
                      <input type="text" class="input-design" 
                             required [formControl]="form.controls['email']" value="E-mail address" 
                             placeholder="LOGIN"/>
                     </div>
                      <div class="form-group">
                        <input type="password" class="input-design"
                               value="Password" required [formControl]="form.controls['password']"
                               placeholder="MOT DE PASSE"/>
                      </div>
                    <input [disabled]="!form.valid"  
                           id="connect-btn" type="submit" value="SE CONNECTER" />
                	</form>
    
              </div>
            </div>


<!-- </body>

 -->