           <div class="row" id="login-marges">
              <div class="" id="img-block"><!-- id="login-marges" -->
                      <img  src="assets/img/FondationLogi.png" /> <!-- id="img-block" -->
              </div>
            </div>

            <div class="row">
              <div class="center-box">
                <div class="ibox-content">
                  <p id="auth-title"><strong>Authentification</strong></p>
                     <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form" class="m-t" role="form">
                       <div class="form-group">
                        <input type="text" class="input-design" 
                               required [formControl]="form.controls['email']" value="E-mail address" 
                               placeholder="LOGIN"/>
                       </div>
                        <div class="form-group">
                          <input type="password" class="input-design"
                                 value="Password" required [formControl]="form.controls['password']"
                                 placeholder="MOT DE PASSE"/>
                        </div>
                      <input [disabled]="!form.valid"  
                             id="connect-btn" type="submit" value="SE CONNECTER" />
                  	</form>
                </div>
              </div>
            </div>


<!-- </body>

 -->