
<div class="r3_counter_box">
  <i class="pull-left fa fa-users user1 icon-rounded"></i>
     <div class="stats">
        <h4> {{partenaire.nom}}</h4> 
       </div>
 </div>
    <link href="assets/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="assets/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="assets/css/lines.css" rel='stylesheet' type='text/css' />
    <link href="assets/css/font-awesome.css" rel="stylesheet" /> 
    <link href="assets/css/gestion-projet.component.css" rel="stylesheet" /> 