   <link href="assets/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="assets/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="assets/css/lines.css" rel='stylesheet' type='text/css' />
    <link href="assets/css/font-awesome.css" rel="stylesheet" /> 
    <link href="assets/css/gestion-projet.component.css" rel="stylesheet" /> 
<div class="row">
    <h4><i>{{projetDetails.description}}</i></h4>
  <div class="col-md-6">
    <div>
        <div class="widget widget1">
                      <collaborateur *ngIf="projetDetails.administrateur != null" [collaborateur]="projetDetails.administrateur"></collaborateur>
                      <collaborateur *ngIf="projetDetails.responsable != null" [collaborateur]="projetDetails.responsable"></collaborateur>  
        </div>
    </div>
</div>
  <div class="col-md-6">
        <partenaire *ngFor="let partenaire of projetDetails.partenaires" [partenaire]="partenaire" ></partenaire>              
  </div>
  
</div>