 
<div class="row">
    <h4><i>{{projetDetails.description}}</i></h4>
  <div class="col-md-6">
    <div>
        <div class="widget widget1">
                      <collaborateur *ngIf="projetDetails.administrateur != null" [collaborateur]="projetDetails.administrateur"></collaborateur>
                      <collaborateur *ngIf="projetDetails.responsable != null" [collaborateur]="projetDetails.responsable"></collaborateur>  
        </div>
    </div>
</div>
  <div class="col-md-6">
        <partenaire *ngFor="let partenaire of projetDetails.partenaires" [partenaire]="partenaire" ></partenaire>              
  </div>
  
</div>