
                                   <h4>Souhaitez vous vraiment supprimer ce Bénificiaire ?</h4>
		                            <div class="clearfix text-center">
                                         <button class="btn btn-danger"
                                       (click)="onSupprimerclick()" >Supprimer</button>
                                        <button class="btn btn-primary"
                                       (click)="onAnullerclick()" >Annuler</button>
                                  </div>