<div class="row">
                <div class="col-lg-8 wrapper wrapper-content animated fadeInUp">
                    <div class="panel panel-primary">
                        <div class="ibox-title">
                        </div>
                        <div class="panel-body">                   
                                   <h2>Souhaitez vous vraiment supprimer cette composante</h2>
		                            <div class="clearfix text-center">
                                         <button class="btn btn-danger"
                                       (click)="onSupprimerclick()" >Supprimer</button>
                                        <button class="btn btn-primary"
                                       (click)="onAnullerclick()" >Annuler</button>
                                    </div>
                        </div>
                    </div>
                    </div>
  </div>