     <div class="row">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="panel panel-primary">
                    <div class="panel-body">
                            <div class="col-lg-6">
                        <h4>Souhaitez vous vraiment supprimer cette Activité ?
                            <p><strong> Attention tous les données liée seront aussi supprimées </strong></p>
                        </h4>
                            </div>
		                    <div class="clearfix text-center">
                        <button class="btn btn-danger"(click)="onSupprimerclick()" >Supprimer</button>
                         <button class="btn btn-primary"(click)="onAnullerclick()" >Annuler</button>
                            </div>
                        </div>
                 </div>
            </div>
        </div>