<div class="row">
                <div class="col-lg-8 wrapper wrapper-content animated fadeInUp">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="col-lg-6">              
                                   <h2>Souhaitez vous vraiment supprimer ce collaborateur</h2>
                            </div>
                            <div class="col-lg-6">
		                            <div class="clearfix text-center">
                                         <button class="btn btn-danger"
                                       (click)="onSupprimerclick()" >Supprimer</button>
                                        <button class="btn btn-primary"
                                       (click)="onAnullerclick()" >Annuler</button>
                             </div>
                        </div>
                        </div>
                    </div>
          </div>
</div>